
@{
    ViewBag.Title = "Grid";
    Layout = "~/Areas/CMS/Views/Shared/_Layout.cshtml";
}

<h2>Grid-Container</h2>
<div class="container" style="border:1px solid red;">
    <div class="row">
        <div class="col-lg-2 col-sm-1">
            <span>col-lg-2</span>
        </div>
        <div class="col-lg-10 col-sm-5">
            <span>col-lg-10</span>
        </div>
    </div>
</div>
<h2>Grid-Container-fluid</h2>
<div class="container-fluid" style="border:1px solid red;">
    <div class="row">
        <div class="col-lg-2">
            <span>col-lg-2</span>
        </div>
        <div class="col-lg-10">
            <span>col-lg-10</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-2"><span>123</span></div>
    <div class="col-lg-10"><span>456</span></div>
</div>

